div.modal.animate__animated.animate__fadeInDown#login-modal
    div.modal-dialog.modal-lg.modal-dialog-centered
        div.modal-content
            div.modal-body.p-5
                div.row
                    div.col-md-6.d-flex.justify-content-center.align-item-center
                        img(src="images/signup.svg", alt="signup" style="width:100%")
                    div.col-md-6
                        h1.display-4 Welcome
                        form#login-form
                            div.form-group.mb-4
                                input.form-control.p-4(
                                    type="email" 
                                    name="email" 
                                    placeholder="email"
                                    class="username"
                                    )
                                span.text-danger.username-err

                            div.form-group.mb-4
                                input.form-control.p-4(
                                    type="password" 
                                    name="password" 
                                    placeholder="password"
                                    class="company-password"
                                    )
                                span.text-danger.password-err
                            div.mb-4.d-flex
                                div.custom-control.custom-radio.custom-control-inline
                                    input#admin.login-as.custom-control-input(type='radio' name='loginAs' value='admin')
                                    label.custom-control-label(for='admin') Admin

                                div.custom-control.custom-radio.custom-control-inline
                                    input#client.login-as.custom-control-input(type='radio' name='loginAs' value='client')
                                    label.custom-control-label(for='client') Client

                                div.custom-control.custom-radio.custom-control-inline
                                    input#team.login-as.custom-control-input(type='radio' name='loginAs' value='team')
                                    label.custom-control-label(for='team') Team

                            div.form-group.mb-4
                                button.btn.btn-primary.text-light.login-btn(
                                    type="submit"
                                    style="background-color:#377DFF;color:white"
                                    disabled="true"
                                ) login
                                button.btn.btn-primary.disabled.before-send.d-none
                                    span.spinner-grow.spinner-grow-sm.mr-2
                                    span Processing..
                            p new user ? 
                                a(href="#")#request-signup-modal sign up